// BACKGROUND COLOR

$bg-color: hsl(218, 23%, 16%);

// BOX COLOR

$box-color: hsl(217, 19%, 24%);

// TEXT 

$text-color: hsl(193, 38%, 86%);
$advice-number-color:hsl(193, 38%, 86%);

// LINE COLOR

$line-color: hsl(193, 38%, 86%);

// DICE COLOR

$dice-color: hsl(150, 100%, 66%);

// IMG DIVIDER

$dividerMobile: url(/images/pattern-divider-mobile.svg);
$dividerDesktop: url(/images/pattern-divider-desktop.svg);